.btn {
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 50px; 
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  background-color: #21a1f1;
}

.btn:hover {
  background-color: #0056b3;
}

.btn + .btn {
  margin-left: 10px;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
}

.map-container {
  width: 1200px;
  height: 600px; 
  position: relative;
  z-index: 1;
  margin-top: 20px; 
}

.leaflet-control-zoom {
  z-index: 0 !important; 
}

