.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button-group {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.btn {
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 50px; /* extra rundad */
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
}

.customer-btn {
  background-color: #21a1f1;
}

.customer-btn:hover {
  background-color: #197ab6;
}

.person-btn {
  background-color: #21a1f1;
}

.person-btn:hover {
  background-color: #197ab6;
}

.settings-btn {
  background-color: #21a1f1;
}

.settings-btn:hover {
  background-color: #197ab6;
}
.App-footer {
  background-color: #20232a;
  color: #aaa;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
.object-type-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn.object-btn {
  background-color: #21a1f1;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.object-btn:hover {
  background-color: #197ab6;
}

