/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjusted to match your dark theme */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 10px;
  }
  
  .modal-content {
    background-color: #282c34;  /* Match background color of App */
    padding: 20px;
    border-radius: 10px;  /* Slight rounding for a soft look */
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  /* Light shadow for contrast */
    color: white;  /* Text color to match your header */
  }
  
  .modal-content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .modal-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .modal-content li {
    padding: 8px 0;
    font-size: 16px;
  }
  
  .close-modal-btn {
    background-color: #21a1f1;  /* Use same blue as your buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
  }
  
  .close-modal-btn:hover {
    background-color: #197ab6;  /* Hover effect to match your button styles */
  }
  
  .close-modal-btn:focus {
    outline: none;  /* Removes focus outline when button is clicked */
  }
  